@keyframes slidein {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    flex-direction: column;
    gap: 3rem;
}

.main-div {
    height: 100%;
    background-color: rgb(16, 128, 194);
    max-width: 50%;
    min-width: 50%;
    color: white;

    border-radius: 20px; 

    display: flex;
    flex-direction: row;

    margin: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    opacity: 1;
}

.text-container div {
    text-align: justify;
    text-justify: inter-word;
    line-height: 2;
}

.main-div img {
    max-width: 100px;
    height: auto;
}

#personal-picture {
    border-radius: 20px 0px 0px 20px;
    max-width: 230px;
}

#web-picture {
    border-radius: 20px 0px 0px 20px;
    max-width: 230px;
}

