@keyframes slidein {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-image:url('assets\\css-lattice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

ul {
    list-style-type: none;
}

header {
    animation: slidein 5s linear -1s 1 running;
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
    background-color: white;
    margin-top:  0.5rem;
    margin-bottom:  0.5rem;
    height: 6vh;
    color: black;
    display: flex;
    align-items: center;
    width: 40%;
}

footer {
    position: fixed;
    padding: 5px;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background: rgb(55, 61, 55);
    color: white;
    font-size: 30px;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header ul li {
    height: 100%;
    padding: 1rem;
    font-weight: bold;
    opacity: 1;
}

header ul li:hover {
    background-color: rgb(69, 90, 211) ;
    border-radius: 20px;
}