@keyframes slidein {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-image:url('assets\\css-lattice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

ul {
    list-style-type: none;
}

header {
    animation: slidein 5s linear -1s 1 running;
   
    margin-top:  1rem;
    margin-bottom:  0.5rem;
    height: 6vh;
    color: black;
    
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header nav {
    border-radius: 80px;
    background-color: white;
    margin: auto
}

footer {
    position: fixed;
    padding: 2rem;
    height: 5rem;
    bottom: 0;
    width: 100%;
    overflow: hidden;

    background: rgb(3, 8, 70);
    color: white;
    font-size: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    margin-left: auto;
    margin-right: 1.5rem;
}


footer div div {
    margin-top: 0.5rem;
}


footer div div a {
    color: white;
}


header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-block-start: 0;
    margin-block-end: 0;
}

header ul li {
    height: 100%;
    padding: 1rem;
    font-weight: bold;
    opacity: 1;
}

header ul li:hover {
    background-color: rgb(38, 52, 131);
    border-radius: 80px;
    color: white;
}

.main-div {
    height: 100%;
    background-color: rgb(16, 128, 194);
    opacity: 0.5;
    margin-left: 30%;
    margin-right: 30%;
    color: white;

    border-radius: 20px 20px 0px 0px;

    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    opacity: 1;
}

.text-container div {
    text-justify: auto;
}

#personal-picture {
    border-radius: 20px 0px 0px 0px;
}

#logo-header {
    max-width: 70px;
    height: auto;
}